.formGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formGroup label {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

.formStyle:focus{
    box-shadow: 0 0 0.45em black;
    /* border: 0 none; */
    outline: 0;
}

.formStyle {
    border-radius: 5px;
    border: 1px gainsboro solid;
    height: 40px;
    width: 275px;
}